/* Couleurs principales */
body {
    background-color: #eaf2f8; /* Bleu très clair pour le fond */
    color: #333; /* Texte principal en noir */
}

header {
    background-color: #3498db; /* Bleu pour l'en-tête */
    color: #fff; /* Texte en blanc pour l'en-tête */
}

nav a {
    color: #fff; /* Texte blanc pour les liens de navigation */
}

section {
    background-color: #d5eaf9; /* Bleu clair pour les sections */
}

footer {
    background-color: #3498db; /* Bleu pour le pied de page */
    color: #fff; /* Texte en blanc pour le pied de page */
}

/* Bouton */
#bouton-alerte {
    background-color: #3498db; /* Bleu pour le bouton */
    color: #fff; /* Texte en blanc pour le bouton */
}
#bouton-alerte:hover {
    background-color: #2980b9; /* Bleu un peu plus foncé au survol */
}

/* Arrière-plan de l'en-tête */
header {
    background-image: url('votre_image.jpg'); /* Utilisez votre propre image */
    background-size: cover;
    background-position: center;
}
